{% extends 'auth_app\base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
<h2 class="mb-4">Change Password</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="old_password" class="form-label">Old Password</label>
        <input type="password" class="form-control" id="old_password" name="old_password" required>
    </div>
    <div class="mb-3">
        <label for="new_password" class="form-label">New Password</label>
        <input type="password" class="form-control" id="new_password" name="new_password" required>
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
{% endblock %}